@import 'google-fonts';
@import 'variable-overrides';
@import 'bootstrap/scss/bootstrap';
@import 'sticky-footer';



///////////////////////////
/// Logo
.logo-text {
  font-family: 'Limelight';
  display: inline-block;
  color: #F5F5F5;
  font-size: 30px;
  margin-top: 15px;
  padding: 0px 0 0 15px;
}

img.logo {
  // generated https: //codepen.io/sosuke/pen/Pjoqqp --- #F5F5F5
  margin-bottom: 15px;
  filter: invert(99%) sepia(37%) saturate(845%) hue-rotate(180deg) brightness(114%) contrast(92%);

}

///////////////////////////
/// Movie Card
.movCard .row {
  margin: 0;
  // max-height: 400px;
}

.img-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 20 / 9;
  border-radius: 5px;
}

.movCard {
  background-color: rgba(103, 109, 85, 0.11);
  color: black;
  text-decoration: none;
  border: none;
  align-items: center;
}

p.card-tex,
.card-title.h5 {
  text-decoration: none;
}

.cardImageCol {
  padding-left: 0;
  padding-right: 0;
}

a {
  text-decoration: none;
}

///////////////////////////
/// Movie Card on movie details page
.detail-img-card {
  height: 100%;
  width: 75%;
  object-fit: cover;
  aspect-ratio: 10 / 16;
  align-items: center;
}


///////////////////////////
/// seats


.screening-and-seats {
  text-align: center;
}

.seats {
  text-align: center;
}

.seats>.row {
  display: inline-block;
}


.seats>.row>div {
  border: #72b457 1px solid;
}

.seats>.row>div {
  background-color: white;
  color: black;
  float: right;
  padding-top: 3px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  width: 50px;
  height: 35px;
  margin: 3px 2px;
  cursor: pointer;
  border-color: #72b457 1px solid;
}

.seats>.row>.selected {
  background-color: #72b457;
  color: white;
  border: none;
}

.seats>.row>.occupied {
  background-color: rgb(152, 28, 28);
  color: white;
  cursor: not-allowed;
  border: none;
}


///////////////////////////
/// ticket area buttons etc...
.ticketArea button {
  margin: 0 10px;
}

.ticketArea .priceArea {
  margin-left: 15px;
}

.btnAreaAdult {
  margin-left: 8px;
}

.btnAreaChild {
  margin-left: 10px;
}

.printText {
  display: inline-block;
  padding-right: 150px;
}


p.ticketArea:first-child,
p.ticketArea:nth-child(4) {
  margin-bottom: 0;
}

.line {
  height: 1px;
  width: 350px;
  background-color: rgba(211, 211, 211, 0.473);
  margin: 0 auto;
  margin-bottom: 30px;
}


////////////////////////////
/// HOME
/// 
/// 

main .frontPage {


  background-image: url("/mov.jpg");
  border-radius: 10px;
  color: white;
  text-shadow: 5px 5px 5px #00000077;
  max-height: 75vh;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  margin-top: 50px;
  background-position: 65%;

}

main .innerFront {
  border-radius: 10px;
  background-color: rgba(103, 109, 85, 0.11);
}


.innerFront h2 {
  color: #3b4129c9;
}





/////////////////////////////////////
/// Media screens
@media only screen and (max-width: 767px) {


  .seats>.row>div {
    font-size: 18px;
    padding-top: 0px;
    padding-left: 4px;
    width: 30px;
    height: 30px;
    margin: 2px 1px;
  }

  // first line only
  .seats>.row:first-child>div {
    padding-left: 8px;
  }
}

@media only screen and (max-width: 410px) {



  main .container .frontPage {
    margin-top: 0 !important;
  }

  img.logo {
    display: none;
  }

  .frontPage {
    padding: 20px !important;
  }

  .innerFront {
    padding: 20px !important;
  }

  .container {
    overflow-x: hidden;
  }

  .seats .row {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    // background-color: red;
  }

  .seats {
    overflow-y: hidden;
    padding: 10px;
    background-color: rgba(103, 109, 85, 0.11);
  }

  .seats>.row {

    width: 420px;
    margin-bottom: -15px;
  }

  .seats>.row>div {
    font-size: 18px;
    text-align: center;
  }
}

@media only screen and (max-width: 350px) {

  body {
    font-size: 1.1rem;
  }

  .logo-text {
    font-size: 23px;
  }

  main .container .frontPage {
    margin-top: 0 !important;
  }

  .ticketArea .priceArea {
    margin-left: -3px;
  }

  .btnAreaAdult {
    margin-left: 0px;
  }

  .btnAreaChild {
    margin-left: 0px;
  }

  .ticketArea button {
    margin: 0 5px;
  }
}

@media only screen and (max-width: 290px) {

  button {
    font-size: 18px !important;
  }

  body {
    font-size: 1rem;
  }

  .logo-text {
    font-size: 20px;
  }
}